.container {
	width: 500px;
	max-height: 90vh; /* Set maximum height to 80% of viewport height */
	position: fixed; /* Set position to fixed */
	top: 40%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%); /* Center the container */
	background: linear-gradient(to bottom, LemonChiffon, LightCyan);
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow-y: auto; /* Enable vertical scrolling */
}

.container form {
	text-align: left; /* Center form inputs */
}

.container form label {
	display: block; /* Make labels display as block elements */
	margin-bottom: 10px; /* Add space between labels */
}

.container form input, .container form textarea {
	width: calc(100% - 20px); /* Set input width to 100% minus padding */
	margin-bottom: 15px; /* Add space between inputs */
	padding: 5px; /* Add padding */
}